body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
  /*margin-left:-200px;*/
  /*margin-right:-200px;*/
}

/* Reduce margine*/
.container {
    padding-right: 0; /*15px in bootstrap.css*/
    padding-left: 0;  /*idem*/
    margin-right: 0;
    margin-left: 2%;
    width: 95%;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}

.bright-background {
    background: ghostwhite;
}
.input-group {
    vertical-align: middle;
    horiz-align: left;
}

.input-group-addon {
    vertical-align: middle;
    horiz-align: left;
}

.left {
    horiz-align: left;
}

.disabled{
    display: none;
}
